.container-card{
    display: flex;
}
.img-modal {
    width: 100%;
    height: auto;
    max-height: 500px; 
  }

  /* .modal{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  } */